<h1 class="titulo">Criar Nova Conta</h1>
<form class="formContaNova" action="/criarConta/Criando" method="POST">
    <div class="divContaNova">
        <input type="text" name="nomeCompleto" id="nomeCompleto" placeholder="Seu Nome Completo" required>
        <input type="email" name="email" id="email" placeholder="Seu email" required>
        <input type="password" name="senha" id="senha" placeholder="Nova Senha" required>
        <label for="dataNasc">Data de Nascimento:</label>
        <input type="date" name="dataNasc" id="dataNasc" required>
        <button type="submit">Cadastra-se</button>


    </div>
</form>