<div class="divPaiFeed">
    <div>
        <nav class="navFeed">
            <div>
                <a href="/" class="tituloface">FACEBOOK</a>
            </div>
        </nav>
        <nav class="navIcons">
            <div>
                <a href="/feed"><i class='bx bx-home-alt-2 icons-nav' style='color:#0400ff'></i></a>
                <a href="/amigos"><i class='bx bxs-user-account bx-flip-horizontal icons-nav' style="color: #000000;" ></i></a>
                <a href="/notificacoes"><i class='bx bxs-bell bx-flip-horizontal icons-nav' style="color: #000000;"></i></a>
                <a href="/minhaConta"><i class='bx bxs-user bx-flip-horizontal icons-nav' style="color:#000000" ></i></a>
            </div>
        </nav>
    </div>
    <div>
        <div>
            {{#each posts}}

            <div class="post">
                <img src={{this.imagem}} alt="conteudo post">
                <p>{{this.legenda}}</p>
            </div>

            {{/each}}
        </div>
    </div>
</div>