<script>
    document.querySelector("body").style.background = "#ecf4fc";
</script>

</script>
<div class="div-pai">
    <div>
        <div class="div-login">
            <img class="logoFace" src="/imagens/face.png" alt=" logo do facebook">
        </div>
        <div class="div-form">
            <form class="formLogin" action="/login/conta" method="POST">
                <input class="login" type="email" placeholder="Email" name="email" required>
                <input class="login" type="password" placeholder="Senha" name="senha" required>
                <button class="botaoLogin" type="submit">Entrar</button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <a class="nova" href="/criarConta">Criar Nova Conta</a>
        </div>
        <div class="div-cred">
            <p>by Thurflecks</p>
            <p>Todos os direitos reservados para FACEBOOK</p>
        </div>
    </div>
</div>
