<div class="div-login">
    <img class="logoFace" src="/icon/facebook.ico" alt=" logo do facebook">
</div>
    <form class="formLogin" action="/login/conta" method="POST">

        <input class="login" type="email" placeholder="email" name="email" required>
        <input class="login" type="password" placeholder="senha" name="senha" required>
        <button class="botaoLogin" type="submit">Entrar</button>
    </form>
    <a class="nova"href="/criarConta">Criar nova contaaa</a>
