@font-face {
    font-family: Optimistic;
    src: url("./fonte/optimist-3.otf") format("opentype");
}

@font-face {
    font-family: Helvetica;
    src: url("./fonte/HelveticaNeueMedium.otf") format("opentype");
}
@font-face {
    font-family: JetBrains;
    src: url("./fonte/JetBrainsMono.ttf") format("opentype");
}
body {
    display: flex;
    margin: 0 auto;
    max-width: 430px;
    position: relative;
}
.div-login {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 110px;

}

.div-login img {
    width: 60px;
    height: 60px;
}

.formLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login {
    padding: 22px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(203, 210, 217);
    margin: 5px 10px 5px;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    font-family: JetBrains;
}

.botaoLogin {
    display: flex;
    justify-content: center;
    background-color: #046cdc;
    color: white;
    padding: 12px;
    margin: 10px 10px 0;
    border-radius: 3em;
    border: none;
    font-family: jetBrains;
    font-size: 16px;
}

.nova {
    display: flex;
    color: #046cdc;
    text-decoration: none;
    justify-content: center;
    margin: 5px 10px 0;
    padding: 12px;
    border: 1px solid #046cdc;
    border-radius: 3em;
    font-size: 16px;
    font: Optimistic;

}

.div-cred {
    text-align: center;
    margin: 20px auto 30px;
}

.div-cred p {
    color: rgb(99, 120, 138);
    margin: 10px;
    font-weight: bold;

}

.div-pai {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: JetBrains;
    width: 100%;
}

.divContaNova {
    display: flex;
    flex-direction: column;
}

.formContaNova {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: JetBrains;
}

.formContaNova label {
    color: black;
    font-family: JetBrains;
    font-size: 20px;
    margin: 20px auto 20px;

}

.titulo {
    color: black;
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
}

.contaimg {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.logoFace {
    height: 60px;
    width: 60px;
}

.div-fim p {
    color: rgb(99, 120, 138);
    margin: 10px;

}

.div-fim {
    text-align: center;
    font-weight: bold;
}

.divPaiContaNova {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: JetBrains;
    width: 100%;
}

.navFeed {
    margin: 10px;
}

.tituloface {
    font-family: JetBrains;
    color: #1877F2;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navIcons div {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px 0;
}

.imagemPost {
    width: 100%;
    border-radius: 1rem;
}

.post {
    border-top: 1px solid rgb(99, 120, 138);
}

.post a {
    margin: 11px 0 11px;
    font-family: JetBrains;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.imgPerfil {
    font-size: 25px;
    margin: 0 10px 0;
}

.post h2 p {
    flex-direction: row;
}

.content-inline {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 20px 20px
}

.content-inline p h2 {
    margin: 0;
}

.content-inline h2 {
    text-transform: lowercase;
    font-weight: bold;
}

.fotoPerfil {
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.navIcons div a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

}

.pageActive {
    color: #1877F2;
}

.formNewpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    font-family: JetBrains;
}

.conteudoPost {
    font-size: 20px;
    margin: 20px;
}

.legendaPost {
    margin: 20px;
    font-family: JetBrains;
}

.minhaContaNav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dadosConta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.dadosConta img {
    height: 100px;
    width: 100px;
    margin: 20px auto 10px;
    display: block;
    border-radius: 50%;
}

.dadosConta p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.dadosConta label {
    font-size: 1em;
    margin-bottom: 10px;
}

.botaoEditarConta {
    display: flex;
    justify-content: center;
    background-color: #046cdc;
    color: white;
    padding: 12px;
    margin: 7px 10px;
    border-radius: 3em;
    border: none;
    font-family: JetBrains;
    font-size: 16px;
    text-decoration: none;
}
.botaoEditarConta:hover{
    color: #046cdc;
    background-color: white;
    border: 1px solid #046cdc;
    padding: 11.2px;
}
.botaoLogin:hover {
    color: #046cdc;
    background-color: white;
    border: 1px solid #046cdc;
    padding: 11.2px;
}
.nova:hover{
    color: white;
    background-color:#046cdc;
    padding: 11.2px;
}
.minhacontaAtivate{
    border: 2px solid #046cdc;
}
.divFormAtt{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    font-family: JetBrains;
}
.formAtt{
    padding: 22px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(203, 210, 217);
    margin: 5px 10px 5px;
    border-radius: 12px;
    width: 95%;
    font-size: 16px;
    outline: none;
}
.bioatt{
    height: 100px;
}
.attPerfil{
    margin-top:30px ;
}
.inputPerfil{
    font-family: JetBrains;
    border: none;
}
.divFormAtt label{
    font-weight: bold;
    margin: 5px;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nomeperfil {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
.nomeperfil p{
    font-weight: bold;
    font-size: 15px;
}
.post-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-btn, .delete-btn {
    font-family: JetBrains;
    padding: 6px 12px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    padding-top: 7px;
}

.edit-btn {
    background-color:  rgb(229, 233, 238);
    color: #046cdc;
}

.delete-btn {
    background-color: rgb(229, 233, 238);
    color: rgb(196, 23, 23);
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.85;
}
#text-legenda{
    text-align: center;
}
.logout{
    display: flex;
    justify-content: end;

}
.logout button{
    font-size: 30px;
    border: none;
    margin-right: 10px;
    color: #046cdc;
    cursor: pointer;
    background-color: transparent;
}
.alerta {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem auto;
    width: 95%;
    padding: .7rem 1rem;
    background-color: rgb(196, 23, 23);
    color: white;
    border-radius: 1.5rem;
    font-size: 1.1rem;

}
.div-actions{
    display: flex;
    flex-direction: row;
}

.btn-actions{
    color: black;
    font-weight:500;
    transition: 0.3s ease;
}


.div-actions span{
    font-family: JetBrains;
    margin-top: 0.8rem;
    font-weight: 500;
    margin-right: 0.7rem;
}
.likes button{
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    margin: .5rem 0 0 .5rem;
    color: black;
}
.comment{
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    margin-right: .3rem;
    font-weight:400;
    color: black;
    transition: 0.3s ease;
}
.comment:hover{
    transform: scale(1.3) translate(3px);
}
.btn-actions:hover{
    color: rgb(196, 23, 23);
    transform: scale(1.3) translate(3px);
}

.like-button.liked {
    color: rgb(196, 23, 23);
}
.aviso404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
    font-family: JetBrains;
    gap: 1rem;
}
.aviso404 h1{
    font-weight: 900;
    font-size: 2rem;
    color: rgb(196, 23, 23);
}
.aviso404 p{
    font-weight: 900;
}
.btnSeguir{
    border:none ;
    background-color: #046cdc;
    color: aliceblue;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: JetBrains;
}
.btnSeguindo{
    border:none ;
    border: #046cdc solid 1px;
    color: #046cdc;
    padding: 7px 24px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: JetBrains;
}
.seguir{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 15px;
}
.seguir span{
    font-weight: 700;
}
.amigosAdd{
    border-bottom: 1px solid rgb(203, 210, 217);
}
.user{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: JetBrains
}
.pesquisa{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(203, 210, 217);
    padding: 1rem;
    font-family: JetBrains;
}
.btnSeguir1{
    border: none;
    background-color: #046cdc;
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 30px;
    margin-top: 0.5rem;
    font-family: JetBrains;
}
.btnSeguindo1{
    border: 1px solid #046cdc;
    color: #046cdc;
    background-color: transparent;
    padding: 4px 19px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-family: JetBrains;
    margin-right: 30px;
}
.fotoperfilEdit{
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
}
.editImagemPost {
    width: 100%;
    margin: 1rem 0 1rem;
    border-radius: 1rem;
}
.fixed{
    position: sticky;
    top: 0;
    background-color: white;
}
.formPesq{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.formPesq svg{
    width: 30px;
    height: 30px;
}
#inputP{
    display: none;
}
.inputPesquisa{
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 17px;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: JetBrains;
}
.msg p{
    color:  rgb(196, 23, 23);
    font-size: 20px;
}
.flex{
    flex-grow: 1
}
.noti{
    display: flex;
    font-family: JetBrains;
    width: 100%;
}

.noti a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid rgb(203, 210, 217);
    padding: 10px;
    color: black;
    font-family: JetBrains;
}
.noti img{
    width: 30px;
    height: 30px;
}
.aviso{
    text-align: center;
    margin-top: 100px;
    font-family: JetBrains;
    font-size: 20px;
    font-weight: 600;
}
.deletar{
    justify-content: end;
}